<!DOCTYPE html PUBLIC "-//OMA//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
    body {
      margin: 2% 4% 2% 4%; 
      background-color: #ccd4cc;
      font-family: sans-serif;
      line-height: 130%; 
    }
    </style>
    <script type="text/javascript">var _gaq=[['_setAccount', 'UA-8354880-3'],['_trackPageview']];</script><script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
</head>
<body>
  <div id="menu">
    <a href="http://mLibraries.org/Home">home</a> <a href="{{page.title}}.pdf">pdf</a> <a href="https://github.com/rasmuserik/mLibraries/wiki/{{page.title}}">wiki</a>
  </div>
  <div id="content">

        {{ content }}

  </div>

  
</body>
</html>
